// @font-face {
//    font-family: "PP Neue Montreal";
//    src: url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Bold.woff2") format("woff2"),
//       url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Bold.woff") format("woff");
//    font-weight: bold;
//    font-style: normal;
//    font-display: swap;
// }

// @font-face {
//    font-family: "PP Neue Montreal";
//    src: url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Italic.woff2") format("woff2"),
//       url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Italic.woff") format("woff");
//    font-weight: normal;
//    font-style: italic;
//    font-display: swap;
// }

// @font-face {
//    font-family: "PP Neue Montreal";
//    src: url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Book.woff2") format("woff2"),
//       url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Book.woff") format("woff");
//    font-weight: normal;
//    font-style: normal;
//    font-display: swap;
// }

// @font-face {
//    font-family: "PP Neue Montreal";
//    src: url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Medium.woff2") format("woff2"),
//       url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Medium.woff") format("woff");
//    font-weight: 500;
//    font-style: normal;
//    font-display: swap;
// }

// @font-face {
//    font-family: "PP Neue Montreal";
//    src: url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-SemiBolditalic.woff2")
//          format("woff2"),
//       url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-SemiBolditalic.woff") format("woff");
//    font-weight: 600;
//    font-style: italic;
//    font-display: swap;
// }

// @font-face {
//    font-family: "PP Neue Montreal";
//    src: url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Thin.woff2") format("woff2"),
//       url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Thin.woff") format("woff");
//    font-weight: 100;
//    font-style: normal;
//    font-display: swap;
// }

// @font-face {
//    font-family: "PP Neue Montreal";
//    src: url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Bold.otf") format("otf");
//    font-weight: bold;
//    font-style: normal;
//    font-display: swap;
// }

// @font-face {
//    font-family: "PP Neue Montreal";
//    src: url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Italic.otf") format("otf");
//    font-weight: normal;
//    font-style: italic;
//    font-display: swap;
// }

// @font-face {
//    font-family: "PP Neue Montreal";
//    src: url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Book.otf") format("otf");
//    font-weight: normal;
//    font-style: normal;
//    font-display: swap;
// }

// @font-face {
//    font-family: "PP Neue Montreal";
//    src: url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Medium.otf") format("otf");
//    font-weight: 500;
//    font-style: normal;
//    font-display: swap;
// }

// @font-face {
//    font-family: "PP Neue Montreal";
//    src: url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-SemiBolditalic.otf") format("otf");
//    font-weight: 600;
//    font-style: italic;
//    font-display: swap;
// }

// @font-face {
//    font-family: "PP Neue Montreal";
//    src: url("@/assets/fonts/@/assets/fonts/PPNeueMontreal-Thin.otf") format("otf");
//    font-weight: 100;
//    font-style: normal;
//    font-display: swap;
// }
@font-face {
   font-family: "PP Neue Montreal";
   src: url("@/assets/fonts/PPNeueMontreal-Medium.woff2") format("woff2"),
      url("@/assets/fonts/PPNeueMontreal-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "PP Neue Montreal";
   src: url("@/assets/fonts/PPNeueMontreal-SemiBolditalic.woff2")
         format("woff2"),
      url("@/assets/fonts/PPNeueMontreal-SemiBolditalic.woff") format("woff");
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "PP Neue Montreal";
   src: url("@/assets/fonts/PPNeueMontreal-Thin.woff2") format("woff2"),
      url("@/assets/fonts/PPNeueMontreal-Thin.woff") format("woff");
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "PP Neue Montreal";
   src: url("@/assets/fonts/PPNeueMontreal-Italic.woff2") format("woff2"),
      url("@/assets/fonts/PPNeueMontreal-Italic.woff") format("woff");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "PP Neue Montreal";
   src: url("@/assets/fonts/PPNeueMontreal-Bold.woff2") format("woff2"),
      url("@/assets/fonts/PPNeueMontreal-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "PP Neue Montreal Book";
   src: url("@/assets/fonts/PPNeueMontreal-Book.woff2") format("woff2"),
      url("@/assets/fonts/PPNeueMontreal-Book.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-Mdm.woff2") format("woff2"),
      url("@/assets/fonts/Arial-Mdm.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/ArialNarrow.woff2") format("woff2"),
      url("@/assets/fonts/ArialNarrow.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-BoldMT.woff2") format("woff2"),
      url("@/assets/fonts/Arial-BoldMT.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/ArialNarrow-Italic.woff2") format("woff2"),
      url("@/assets/fonts/ArialNarrow-Italic.woff") format("woff");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-MdmItl.woff2") format("woff2"),
      url("@/assets/fonts/Arial-MdmItl.woff") format("woff");
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/ArialNarrow-BoldItalic.woff2") format("woff2"),
      url("@/assets/fonts/ArialNarrow-BoldItalic.woff") format("woff");
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-BoldItalicMT.woff2") format("woff2"),
      url("@/assets/fonts/Arial-BoldItalicMT.woff") format("woff");
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-Black.woff2") format("woff2"),
      url("@/assets/fonts/Arial-Black.woff") format("woff");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-ItalicMT.woff2") format("woff2"),
      url("@/assets/fonts/Arial-ItalicMT.woff") format("woff");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/ArialCE-Italic.woff2") format("woff2"),
      url("@/assets/fonts/ArialCE-Italic.woff") format("woff");
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-BoldItalicMT.woff2") format("woff2"),
      url("@/assets/fonts/Arial-BoldItalicMT.woff") format("woff");
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-Lgt.woff2") format("woff2"),
      url("@/assets/fonts/Arial-Lgt.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Arial CE MT";
   src: url("@/assets/fonts/ArialCEMTBlack-Regular.woff2") format("woff2"),
      url("@/assets/fonts/ArialCEMTBlack-Regular.woff") format("woff");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/ArialCE-BoldItalic.woff2") format("woff2"),
      url("@/assets/fonts/ArialCE-BoldItalic.woff") format("woff");
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/ArialMT.woff2") format("woff2"),
      url("@/assets/fonts/ArialMT.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-LgtItl.woff2") format("woff2"),
      url("@/assets/fonts/Arial-LgtItl.woff") format("woff");
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/ArialCE.woff2") format("woff2"),
      url("@/assets/fonts/ArialCE.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-BoldMT.woff2") format("woff2"),
      url("@/assets/fonts/Arial-BoldMT.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-ItalicMT.woff2") format("woff2"),
      url("@/assets/fonts/Arial-ItalicMT.woff") format("woff");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/ArialNarrow-Bold.woff2") format("woff2"),
      url("@/assets/fonts/ArialNarrow-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-BlackItalic.woff2") format("woff2"),
      url("@/assets/fonts/Arial-BlackItalic.woff") format("woff");
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Arial";
   src: url("@/assets/fonts/Arial-BoldMT.woff2") format("woff2"),
      url("@/assets/fonts/Arial-BoldMT.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}
