.wrapper {
   &:has(.dark-page) {
      .header,
      .header-menu {
         background-color: #f8f8f8;
      }
   }
}
.header {
   background-color: $white;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
   border-radius: 0 0 8px 8px;
   // .header__wrapper
   span.border {
      height: 32px;
      width: 1px;
      flex: 0 0 1px;
      background-color: $black-15;
      display: block;
   }
   &__wrapper {
      height: var(--headerHeight);
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .header__info

   &__info {
      display: flex;
      gap: 24px;
      align-items: center;
   }

   // .header__logo

   &__logo {
   }

   // .header__schedule

   &__schedule {
      display: flex;
      flex-direction: column;
      gap: 4px;
      @include regular-13;
      span:nth-child(1) {
         color: $black;
      }
      span:nth-child(2) {
         color: $black-50;
      }
   }

   // .header__list

   &__list {
      display: flex;
      gap: 32px;
      align-items: center;
      a {
         color: $black;
         @include regular-13;
         transition: $transition;
         border-bottom: 1px solid transparent;
         @media (hover: hover) {
            &:hover {
               border-color: $black;
            }
         }
      }
   }

   // .header__actions

   &__actions {
      display: flex;
      align-items: center;
      gap: 24px;
   }

   // .header__items

   &__items {
      display: flex;
      align-items: center;
      gap: 16px;
   }
   &__call {
      @include button-name;
      color: $black;
      border-bottom: 1px solid $black;
      transition: $transition;
      @media (hover: hover) {
         &:hover {
            border-color: transparent;
         }
      }
   }
   // .header__icons

   &__icons {
      display: flex;
      gap: 8px;
      .circle {
         cursor: pointer;
         background-color: $black-5;
         transition: $transition;
         svg {
            width: 16px;
            height: 16px;
            path {
               fill: $black;
            }
         }
         &:not(.profile) {
            @media (hover: hover) {
               &:hover {
                  background-color: $black-15;
               }
            }
            &:active {
               background-color: $black-15;
            }
         }
      }
      .profile {
         background-color: $black;
      }
   }
   .mobile {
      display: none !important;
      @media (max-width: $tablet) {
         display: flex !important;
      }
   }
   .desktop {
      @media (max-width: $tablet) {
         display: none !important;
      }
   }
   @media (max-width: $tablet) {
      &__list,
      &__items,
      &__schedule {
         display: none;
      }
      &__icons {
         .circle {
            --size: 40px;
         }
      }
      &__burger {
         position: relative;
         span,
         &::before,
         &::after {
            content: "";
            display: block;
            width: 13px;
            height: 1px;
            background-color: $black;
            position: absolute;
            left: 50%;
            translate: -50% 0;
            transition: $transition;
            transform-origin: center;
         }
         span {
            top: 50%;
            translate: -50% -50%;
         }
         &::before {
            top: 15px;
         }
         &::after {
            bottom: 15px;
         }
         &.active {
            span {
               scale: 0;
            }
            &::before {
               rotate: 45deg;
               translate: -6px 4px;
            }
            &::after {
               rotate: -45deg;
               translate: -6px -501%;
            }
         }
      }
   }
   @media (max-width: $mobile) {
      .circle {
         --size: 32px;
      }
      // &__wrapper {
      //    height: 56px;
      // }
      &__logo {
         svg {
            width: 63px;
            height: 32px;
         }
      }
      &__burger {
         &::before {
            top: 12px;
         }
         &::after {
            bottom: 12px;
         }
         &.active {
            &::before {
               translate: -6px 3px;
            }
            &::after {
               translate: -6px -379%;
            }
         }
      }
   }
}
.header-menu {
   display: none;
   flex-direction: column;
   gap: 40px;
   position: fixed;
   top: calc(var(--headerHeight) + 0px);
   bottom: 0;
   left: 0;
   right: 0;
   overflow: auto;
   background-color: $white;
   z-index: 10;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 12px;
   padding-top: 35px;
   translate: 0 100%;
   transition: $transition;
   border-radius: 6px 6px 0px 0px;
   &.active {
      translate: 0 0;
   }
   .header__schedule {
      display: flex;
   }
   @media (max-width: $tablet) {
      display: flex;
   }
   @media (max-width: $mobile) {
      padding-left: 12px;
      padding-right: 12px;
   }
   // .header-menu__list

   &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      a {
         color: $black;
         font-family: $fontMontreal;
         font-size: 20px;
         font-weight: 500;
         line-height: 110%; /* 22px */
         letter-spacing: 0.2px;
         text-transform: uppercase;
      }
   }

   // .header-menu__form

   &__form {
      border-radius: 6px;
      background: $light-grey;
      padding: 16px;
      & > ul {
         margin-top: 32px;
         margin-bottom: 20px;
         display: flex;
         li:nth-child(1) {
            flex: 1;
            a {
               color: #181818;
               font-family: $fontMontreal;
               font-size: 20px;
               font-weight: 500;
               line-height: 110%; /* 22px */
               letter-spacing: 0.2px;
               text-transform: uppercase;
            }
         }
         .circle {
            background-color: $black;
            svg path {
               fill: $white;
            }
         }
      }
      & > span {
         @include regular-13;
         color: $black-50;
      }
      .btn {
         height: 48px;
         width: 100%;
      }
   }
}
.header__icons {
   li:not(.active):has(.header-profile) {
      @media (min-width: 1025px) {
         &:hover {
            .header-profile {
               opacity: 1;
               pointer-events: all;
            }
         }
      }
   }
   @media (max-width: $tablet) {
      .profile > .header-profile {
         display: none;
      }
   }
}
.header-profile {
   pointer-events: none;
   transition: $transition;
   opacity: 0;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;
   position: absolute;
   top: calc(100% + 18px);
   right: 0;
   border-radius: 8px;
   background: #f8f8f8;
   width: 316px;
   text-align: left;
   &::before {
      content: "";
      display: block;
      width: 40px;
      height: 18px;
      right: 0;
      bottom: 100%;
      position: absolute;
   }
   p {
      color: var(--black-50, rgba(24, 24, 24, 0.5));
      font-family: $fontArial;
      font-size: 14px;
      line-height: 140%; /* 19.6px */
   }
   .btn {
      width: 100%;
   }
   @media (max-width: $tablet) {
      pointer-events: all;
      position: relative;
      top: unset;
      right: unset;
      opacity: 1;
      width: unset;
      padding: 0;
      background-color: unset;
      text-align: center;
      align-items: center;
      max-width: 330px;
      width: 330px;
      margin: 0 auto;
      .btn {
         width: fit-content !important;
      }
      &::before {
         display: none;
      }
   }
   @media (max-width: $mobile) {
      width: unset;
      padding-top: 130px;
   }
}
