.running-line {
   &__item {
      list-style: none;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 55px;
      a {
         display: flex;
         align-items: center;
         justify-content: center;
         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
      }
   }
}

.runeline {
   overflow: hidden;
   display: flex;
   align-items: center;
   // margin: 0 auto;
}

.marquee-0 {
   width: 100%;
   height: 56px;
   background-color: $black;
   --space: 0rem;
   display: grid;
   align-content: center;
   animation-name: HeroTitle;
   animation-duration: 0.8s;
   animation-timing-function: ease-in-out;
   @media (max-width: $mobile) {
      height: 48px;
   }
}

.marquee {
   --duration: 15s;
   --gap: var(--space);
   display: flex;
   user-select: none;
   position: relative;
   max-width: 100vw;
}

.marquee:hover {
   z-index: 99;
}

.marquee__group {
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   min-width: 100%;
   animation: scroll var(--duration) linear infinite;
   a {
      display: flex;
   }
}

// .marquee:hover .marquee__group {
//    animation-play-state: paused;
// }

// @media (prefers-reduced-motion: reduce) {
//    .marquee__group {
//       animation-play-state: paused;
//    }
// }

@keyframes scroll {
   0% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(calc(-100% - var(--gap)));
   }
}
