.project-hero {
   position: relative;
   // .project-hero__wrapper
   .breadcrumbs {
      .container {
         padding: 0 !important;
      }
      a {
         color: $white-50;
      }
   }
   .swiper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      // z-index: 10;
      &::after {
         content: "";
         display: block;
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         background-color: #18181873;
         z-index: 10;
         pointer-events: none;
      }
      .swiper-slide {
         & > a {
            width: 100%;
            height: 100%;
            display: block;
         }
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
   &__wrapper {
      padding-top: 40px;
      // height: calc(100dvh - var(--headerHeight));
      height: 90vh;
      max-height: 756px;
      min-height: fit-content;
      display: flex;
      flex-direction: column;
      padding-bottom: 70px;
      user-select: none;
   }

   // .project-hero__header

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      z-index: 1;
   }

   // .project-hero__like

   &__like {
      background: rgba(255, 255, 255, 0.25);
      backdrop-filter: blur(14px);
      --size: 48px;
      svg path {
         fill: transparent;
      }
      &.active {
         svg path {
            fill: $white;
         }
      }
   }

   // .project-hero__main

   &__main {
      max-width: 567px;
      // flex: 1;
      position: relative;
      z-index: 1;
   }

   // .project-hero__banners

   &__banners {
      max-width: 591px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      li {
         border-radius: 30px;
         background: $white-15;

         /* blur */
         backdrop-filter: blur(8.230626106262207px);
         // height: 25px;
         padding: 6px 10px;
         display: flex;
         align-items: center;
         justify-content: center;
         color: $white;
         color: var(--white-100, #fff);
         font-size: 13px;
         line-height: 100%; /* 13px */
         text-transform: uppercase;
         gap: 6px;
      }
   }

   // .project-hero__title

   &__title {
      margin-top: 25px;
      margin-bottom: 40px;
   }

   // .project-hero__footer

   &__footer {
      // max-width: 567px;
      max-width: calc(100vw - (100vw - 1340px));
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      bottom: 70px;
      left: calc((100vw - 1340px) / 2);
      right: calc((100vw - 1340px) / 2);
      @media (max-width: 1440px) {
         width: calc(100% - 2 * var(--containerPadding));
         left: var(--containerPadding);
         right: var(--containerPadding);
         max-width: unset;
      }
   }
   &__pagination {
      width: fit-content !important;
      .swiper-pagination-bullet {
         width: 20px;
         height: 3px;
         border-radius: 7px;
         background: rgba(217, 217, 217, 0.6);
         &-active {
            background: $white;
         }
      }
   }
   @media (max-width: $tablet) {
      &__main {
         margin-bottom: 24px;
      }
      &__wrapper {
         padding-top: 20px;
      }
      &__like {
         --size: 40px;
         svg {
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
         }
      }
      &__footer {
         flex-direction: column;
         gap: 40px;
         align-items: flex-start;
      }
   }
   @media (max-width: $mobile) {
      &__wrapper {
         padding-top: 12px;
      }
      &__like {
         --size: 32px;
         svg {
            width: 16px;
            height: 16px;
            flex: 0 0 16px;
         }
      }
   }
}
.project-about {
   padding-top: 60px;
   position: relative;
   @media (max-width: $tablet) {
      padding-top: 50px;
   }
   @media (max-width: $mobile) {
      padding-top: 40px;
   }
   &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 99%;
      left: 0;
      right: 0;
      border-radius: 8px 8px 0 0;
      background-color: $white;
      height: 20px;
      width: 100%;
   }
   // .project-about__wrapper

   &__wrapper {
   }

   // .project-about__header

   &__header {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      @media (max-width: $tablet) {
         flex-direction: column;
         gap: 40px;
      }
      @media (max-width: $mobile) {
         gap: 30px;
      }
   }

   // .project-about__title

   &__title {
   }

   // .project-about__description

   &__description {
      // max-width: 789px;
      flex: 0 1 789px;
      pre {
         font-family: $fontArial !important;
      }
      &.active {
         .body-text {
            -webkit-line-clamp: unset;
         }
      }
      .body-text {
         display: -webkit-box;
         -webkit-line-clamp: 4;
         -webkit-box-orient: vertical;
         overflow: hidden;
      }
      button {
         @include button-name;
         padding: 3px;
         border-bottom: 1px solid $black;
         margin-top: 18px;
         color: $black;
      }
      @media (max-width: $tablet) {
         flex: unset;
      }
   }

   // .project-about__main

   &__main {
   }

   // .project-about__tabs

   &__tabs {
      margin-bottom: 25px;
      @media (max-width: $tablet) {
         overflow-x: auto;
         margin-bottom: 20px;
         border: none;
         position: relative;
         label::after {
            translate: 0 -1px;
         }
         &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $black-15;
         }
      }
   }

   // .project-about__slider

   &__slider {
      position: relative;
      height: 725px;
      .swiper {
         height: 100%;
      }
      .swiper-button-prev,
      .swiper-button-next {
         position: absolute !important;
         top: 50% !important;
         translate: 0 -50% !important;
      }
      .swiper-button-prev {
         left: 28px !important;
      }
      .swiper-button-next {
         right: 28px !important;
      }
      .swiper-slide {
         height: auto;
         border-radius: 8px;
         overflow: hidden;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
      .swiper-pagination {
         display: none;
         left: 50%;
         translate: -50% 0;
         width: fit-content;
         .swiper-pagination-bullet {
            border-radius: 7px;
            background: rgba(217, 217, 217, 0.6);
            width: 25px;
            height: 3px;
            opacity: 1;
            &-active {
               background-color: white;
            }
         }
         @media (max-width: $tablet) {
            display: flex;
         }
      }
      .swiper-button-next,
      .swiper-button-prev {
         @media (max-width: $tablet) {
            display: none;
         }
      }
      @media (max-width: $tablet) {
         height: 400px;
      }
      @media (max-width: $mobile) {
         height: 220px;
      }
   }
}
.project-chars {
   &_commerce {
      margin-top: var(--margin);
   }
   margin-bottom: var(--margin);
   // .project-chars__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 50px;
      @media (max-width: $tablet) {
         gap: 40px;
      }
      @media (max-width: $mobile) {
         gap: 30px;
      }
   }

   // .project-chars__title

   &__title {
   }

   // .project-chars__list

   &__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      li {
         padding: 20px;
         display: flex;
         flex-direction: column;
         gap: 15px;
         border-radius: 8px;
         background: $light-grey;
         font-family: $fontMontreal;
         span:nth-child(1) {
            color: rgba(24, 24, 24, 0.5);
            font-size: 16px;
            font-weight: 500;
         }
         span:nth-child(2) {
            color: #181818;
            font-size: 18px;
            font-weight: 500;
            line-height: 115%; /* 20.7px */
         }
      }
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $mobile) {
         li {
            padding: 16px;
         }
      }
   }
}
.project-features {
   &_commerce {
      padding: 80px 0;
      margin-bottom: 0 !important;
      @media (max-width: $tablet) {
         padding: 70px 0;
      }
      @media (max-width: $mobile) {
         padding: 60px 0;
      }
   }
   margin-bottom: var(--margin);
   // .project-features__wrapper

   &__wrapper {
   }

   // .project-features__header

   &__header {
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
   }
   &__btns {
      display: flex;
      gap: 8px;
      @media (max-width: $tablet) {
         display: none;
      }
   }
   // .project-features__main

   &__main {
      .swiper {
         .swiper-wrapper {
            gap: 10px;
         }
         .swiper-slide {
            margin-right: 0 !important;
            // margin-left: 10px !important;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
         }
         @media (max-width: $tablet) {
            margin: 0 calc(-1 * var(--containerPadding));
            padding: 0 calc(1 * var(--containerPadding));
         }
      }
      @media (max-width: $tablet) {
         .swiper-slide {
            max-width: fit-content;
         }
      }
      @media (max-width: $mobile) {
         .swiper-slide {
            flex-direction: row !important;
            gap: 10px;
            width: 285px;
            max-width: unset;
            &:has(.project-feature + .project-feature) {
               width: 570px;
               margin-right: 10px !important;
               // margin-left: 0;
            }
         }
      }
   }
}
.project-feature {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-end;
   position: relative;
   color: $white;
   padding: 24px;
   min-height: 265px;
   border-radius: 8px;
   overflow: hidden;
   position: relative;
   &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #18181873;
      opacity: 0.3;
      z-index: 1;
   }
   img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   h3 {
      position: relative;
      z-index: 2;
      max-width: 285px;
   }
   @media (max-width: $tablet) {
      max-width: 447px;
   }
   @media (max-width: $mobile) {
      width: 285px;
      flex: 0 0 285px;
      height: 360px;
   }
}
.project-documents {
   margin-top: var(--margin);
   margin-bottom: var(--margin);
   // .project-documents__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 50px;
      @media (max-width: $tablet) {
         gap: 40px;
      }
      @media (max-width: $mobile) {
         gap: 30px;
      }
   }

   // .project-documents__title

   &__title {
   }

   // .project-documents__list

   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}
.document-item {
   height: 100%;
   border-radius: 8px;
   background: #f8f8f8;
   padding: 20px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   position: relative;
   // .document-item__header

   &__header {
      flex: 1;
      display: flex;
      justify-content: space-between;
      gap: 24px;
      a {
         height: 28px;
         flex: 0 0 28px;
         width: 28px;
         display: flex;
         border-radius: 2.333px;
         border: 1px solid rgba(0, 0, 0, 0.08);
         background: #f8f8f8;
         align-items: center;
         justify-content: center;
      }
   }

   // .document-item__title

   &__title {
      flex: 0 1 212px;
      color: #000;
      font-family: $fontMontreal;
      font-size: 18px;
      font-weight: 500;
      line-height: 115%; /* 20.7px */
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      @media (max-width: $mobile) {
         font-size: 14px;
      }
   }

   // .document-item__footer

   &__footer {
      color: rgba(0, 0, 0, 0.5);
      font-family: $fontMontreal;
      font-size: 12px;
      font-weight: 500;
   }
   @media (max-width: $mobile) {
      padding: 16px;
      &__header {
         gap: 7px;
         flex: 0 0 calc(100% - 25px);
         width: calc(100% - 25px);

         a {
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            position: absolute;
            top: 6px;
            right: 6px;
         }
      }
      &__title {
         padding-right: 25px;
         flex: 0 0 calc(100% - 25px);
         width: calc(100% - 25px);
      }
   }
}

.near-places {
   background-color: $black;
   padding-top: calc(var(--margin) - 80px);
   padding-bottom: 80px;
   overflow: hidden;
   @media (max-width: $tablet) {
      padding-bottom: 70px;
   }
   @media (max-width: $mobile) {
      padding-bottom: 60px;
   }
   // .near-places__wrapper

   &__wrapper {
   }

   // .near-places__header

   &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
   }

   // .near-places__title

   &__title {
   }

   // .near-places__btns

   &__btns {
      display: flex;
      gap: 8px;
   }
   &__main {
      .swiper {
         margin-left: calc((100vw - 1360px) / -2);
         margin-right: calc((100vw - 1360px) / -2);
         padding-left: calc((100vw - 1360px) / 2);
         padding-right: calc((100vw - 1360px) / 2);
         width: 100vw;
         .swiper-slide {
            border-radius: 8px;
            overflow: hidden;
            max-width: 333px;
            height: 400px;
            position: relative;
            &::after {
               content: "";
               display: block;
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background: rgba($color: black, $alpha: 0.4);
            }
            ul {
               position: absolute;
               top: 20px;
               left: 20px;
               right: 20px;
               display: flex;
               gap: 4px;
               z-index: 1;
               li {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 4px;
                  height: 27px;
                  padding: 0 10px;
                  border-radius: 30px;
                  background: rgba(255, 255, 255, 0.2);

                  /* blur */
                  backdrop-filter: blur(8.230626106262207px);
                  color: #fff;
                  font-size: 13px;
                  font-weight: 400;
                  text-transform: uppercase;
               }
            }
            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;
               z-index: -1;
            }
            h3 {
               position: absolute;
               bottom: 24px;
               left: 24px;
               right: 24px;
               color: $white;
               z-index: 1;
            }
         }
         @media (max-width: 1440px) {
            margin-left: calc(-1 * var(--containerPadding));
            margin-right: calc(-1 * var(--containerPadding));
            padding-left: calc(1 * var(--containerPadding));
            padding-right: calc(1 * var(--containerPadding));
         }
         @media (max-width: $mobile) {
            .swiper-slide {
               max-width: 285px;
               height: 360px;
            }
         }
      }
   }
}
.project-sliders {
   padding-top: 80px;
   background: #f1f1f1;
}
.project-selection {
   border-radius: 8px;
   background: var(--Brand-Light-Gray, #f1f1f1);
   padding: 80px 0;
   @media (max-width: $tablet) {
      padding: 70px 0;
   }
   @media (max-width: $mobile) {
      padding: 60px 0;
   }
   .product-slider {
      padding-top: var(--margin);
      margin-bottom: 80px;
      padding-bottom: 0;
      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }
      @media (max-width: $mobile) {
         margin-bottom: 60px;
      }
   }
   .catalog-filters {
      &__content {
         padding: 0;
         margin-top: 50px;
      }
      &__btns {
         @media (max-width: $mobile) {
            // grid-column: span 2;
         }
      }
   }

   // .project-selection__wrapper
   &__wrapper {
      @media (max-width: $tablet) {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         gap: 40px;
      }
   }

   // .project-selection__filters

   &__filters {
      @media (max-width: $tablet) {
         .catalog-filter#priceRange {
            grid-column: span 1;
         }
         .catalog-filter#RoomsCount {
            grid-column: span 2;
            text-align: left;
         }
      }
      @media (max-width: $mobile) {
         .catalog-filter#RoomsCount {
            grid-column: span 1;
         }
      }
   }
   &__open {
      display: none;
      @media (max-width: $tablet) {
         display: flex;
      }
   }
}
.project-banner {
   // .project-banner__wrapper

   &__wrapper {
      border-radius: 8px;
      background-color: $black;
      display: flex;
      align-items: center;
      gap: 100px;
      padding-left: 50px;
      padding-right: 40px;
      padding-top: 30px;
      padding-bottom: 30px;
   }

   // .project-banner__title

   &__title {
      flex: 0 0 662px;
      @media (max-width: 1440px) {
         flex: 0 0 calc(462px + 200 * ((100vw - 1024px) / (1440 - 1024)));
      }
   }

   // .project-banner__main

   &__main {
      display: flex;
      justify-content: space-between;
      flex: 1;
      align-items: center;
      gap: 24px;
   }

   // .project-banner__image

   &__image {
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
   @media (max-width: $tablet) {
      &__wrapper,
      &__main {
         flex-direction: column;
         align-items: center;
         gap: 30px;
      }
      &__wrapper {
         padding: 40px;
      }
      &__title {
         flex: unset;
         text-align: center;
      }
   }
}
.buy-ways {
   &_commerce {
      padding-bottom: 0 !important;
   }
   padding: var(--margin) 0;
   // .buy-ways__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 50px;
   }

   // .buy-ways__title

   &__title {
   }

   // .buy-ways__main

   &__main {
      display: flex;
      flex-direction: column;
      gap: 25px;
   }

   // .buy-ways__row

   &__row {
      display: flex;
      gap: 10px;
   }

   // .buy-ways__form

   &__form {
      flex: 0 0 447px;
      border-radius: 8px;
      background: var(--Brand-Light-Gray, #f1f1f1);
      padding: 35px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      height: fit-content;
      .v-select {
         max-width: unset;
      }
      .thumb.thumb-left {
         display: none;
      }
      .multi-range-slider {
         width: 100%;
         translate: -0.1px;
      }
      .catalog-range {
         &__output {
            width: 100%;
            // display: grid;
            // grid-template-columns: repeat(2, 1fr);
            span {
               border-right: 0 !important;
               width: 100% !important;
            }
         }
      }
   }
   &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 33px;
      position: relative;
   }
   // .buy-ways__subtitle

   &__subtitle {
      color: var(--black-100, #181818);
      font-family: $fontMontreal;
      font-size: 24px;
      font-weight: 500;
      line-height: 115%; /* 27.6px */
      text-transform: uppercase;
   }

   // .buy-ways__filters

   &__filters {
      display: flex;
      flex-direction: column;
      gap: 27px;
      & > li {
         display: flex;
         flex-direction: column;
         gap: 14px;
         & > span {
            color: $black-50;
            @include regular-13;
         }
      }
   }

   // .buy-ways__items

   &__items {
      display: flex;
      flex-direction: column;
      gap: 18px;
   }

   // .buy-ways__cats

   &__cats {
      padding-right: 20px;
      // display: grid;
      // grid-template-columns: 1fr repeat(4, auto);
      // gap: 75px;
      display: flex;
      gap: 50px;
      padding-left: 20px;
      align-items: center;
      & > span {
         color: rgba(0, 0, 0, 0.4);
         font-family: $fontArial;
         font-size: 13px;
         font-weight: 400;
         line-height: 140%; /* 18.2px */
         &:nth-child(1) {
            flex: 0 0 272px;
            @media (max-width: 1440px) {
               flex: 0 0 calc(132px + 140 * ((100vw - 1024px) / (1440 - 1024)));
            }
         }
         &:nth-child(2) {
         }
         &:nth-child(3) {
         }
         &:nth-child(4) {
         }
      }
      &_instal {
         gap: 52px;
         & > span {
            &:nth-child(1) {
               flex: 0 0 50px;
            }
         }
      }
      .v-select__wrapper {
         height: unset;
         padding: unset;
      }
      @media (max-width: 1440px) {
         gap: calc(10px + 40 * ((100vw - 1024px) / (1440 - 1024)));
         &_instal {
            gap: calc(10px + 46 * ((100vw - 1024px) / (1440 - 1024)));
         }
      }
   }

   // .buy-ways__list

   &__list {
      display: flex;
      gap: 10px;
      flex-direction: column;
      height: 585px;
      overflow: auto; /* Добавляет скролл, если содержимое превышает доступное пространство */
      &_instal {
         height: calc(609px - 36px);
      }
   }
   @media (max-width: $tablet) {
      &__row {
         flex-direction: column;
      }
      &__cats {
         gap: 0;
         justify-content: space-between;
         padding: 0;
         .desktop {
            display: none;
         }
         &_instal {
            display: none;
         }
      }
      &__list {
         flex-direction: row;
         height: unset !important;
         margin-left: calc(-1 * var(--containerPadding));
         margin-right: calc(-1 * var(--containerPadding));
         padding-left: calc(1 * var(--containerPadding));
         padding-right: calc(1 * var(--containerPadding));
         width: 100vw;
         overflow: auto;
         & > li {
            flex: 0 0 447px;
         }
      }
   }
   @media (max-width: $mobile) {
      &__list {
         & > li {
            flex: 0 0 333px;
         }
      }
      &__form {
         gap: 30px;
         padding: 35px 12px;
      }
   }
}
.buy-ways {
   // .buy-ways__banner

   &__banner {
   }
}
.buy-banner {
   background-color: #f1f1f1;
   padding: 35px;
   flex: 1;
   border-radius: 8px;
   height: fit-content;
   @media (max-width: $mobile) {
      padding: 20px 12px;
   }
   // .buy-banner__header

   &__header {
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobile) {
         flex-direction: column;
         gap: 20px;
         .first {
            width: 200px;
         }
         .second {
            margin: 0 auto;
            width: 210px;
            display: block;
         }
      }
   }

   // .buy-banner__title

   &__title {
   }

   // .buy-banner__image

   &__image {
   }

   // .buy-banner__main

   &__main {
      margin-top: 20px;
      margin-bottom: 30px;
      @media (max-width: $mobile) {
         margin-top: 30px;
      }
   }

   // .buy-banner__list

   &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 20px;
      border-bottom: 1px solid $black-15;
      @media (max-width: $mobile) {
         grid-template-columns: repeat(2, 1fr);
         gap: 15px;
      }
      li {
         display: flex;
         flex-direction: column;
         gap: 10px;
         span {
            @include body-text;
            color: $black-50;
         }
         p {
            @include h3;
            color: $black;
            text-transform: unset;
         }
         @media (max-width: $mobile) {
            gap: 8px;
            p {
               font-size: 18px;
            }
         }
      }
   }

   // .buy-banner__descripiton

   &__descripiton {
      padding-top: 20px;
      color: $black-50;
      font-family: $fontArial;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      letter-spacing: 0%;
   }

   // .buy-banner__footer

   &__footer {
      .btn {
         width: 100%;
      }
   }
}

.ipoteka-card {
   border-radius: 8px;
   background: var(--Brand-Light-Gray, #f1f1f1);
   padding: 20px;
   display: flex;
   align-items: center;
   gap: 52px;
   @media (max-width: 1440px) {
      gap: calc(12px + 40 * ((100vw - 1024px) / (1440 - 1024)));
   }
   // .ipoteka-card__main
   &_instal {
      gap: 82px;
      // .ipoteka-card__main {
      //    flex: 0 0 190px;
      //    @media (max-width: 1440px) {
      //       flex: 0 0 calc(90px + 100 * ((100vw - 1024px) / (1440 - 1024)));
      //    }
      //    @media (max-width: $tablet) {
      //       flex-direction: column;
      //       align-items: flex-start;
      //       gap: 6px;
      //       flex: unset;
      //    }
      // }
      .ipoteka-card__main {
         flex: 0 0 50px;
         @media (max-width: $tablet) {
            flex-direction: column;
            align-items: flex-start;
            gap: 6px;
            flex: unset;
         }
      }
      .ipoteka-card__subtitle {
         display: none;
         @media (max-width: $tablet) {
            display: block;
            color: var(--black-50, rgba(24, 24, 24, 0.5));
            font-family: $fontArial;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 18.2px */
         }
      }
      .ipoteka-card__item {
         @media (min-width: 1440px) {
            flex: 0 0 50px;
         }
      }

      @media (max-width: 1440px) {
         gap: calc(40px + 42 * ((100vw - 1024px) / (1440 - 1024)));
      }
      @media (max-width: $tablet) {
         gap: 20px;
      }
   }
   .price {
      flex: 1;
   }
   &__main {
      flex: 0 0 272px;
      display: flex;
      gap: 32px;
      align-items: center;
      @media (max-width: 1440px) {
         flex: 0 0 calc(140px + 132 * ((100vw - 1024px) / (1440 - 1024)));
         gap: calc(12px + 20 * ((100vw - 1024px) / (1440 - 1024)));
      }
      @media (max-width: $tablet) {
         gap: 20px;
      }
   }
   &__image {
      --size: 48px;
   }
   // .ipoteka-card__info

   &__info {
      display: flex;
      flex-direction: column;
      gap: 6px;
   }

   // .ipoteka-card__item

   &__item {
      white-space: nowrap;
      color: var(--black-100, #181818);
      font-family: $fontMontreal;
      font-size: 16px;
      font-weight: 500;
      line-height: 100%; /* 16px */

      @media (max-width: 1440px) {
         font-size: calc(12px + 4 * ((100vw - 1024px) / (1440 - 1024)));
      }
   }
   &__btn {
      flex: 1;
      flex: 0 0 145px;
      justify-self: end;
      @media (max-width: $tablet) {
         flex: unset;
      }
   }
   &__price {
      color: var(--black-100, #181818);
      font-family: $fontMontreal;
      font-size: 20px;
      font-weight: 500;
      line-height: 115%; /* 23px */
      justify-self: end;
      flex: 1;
      text-align: right;
      white-space: nowrap;
      @media (max-width: $tablet) {
         display: none;
      }
   }
   & > ul {
      display: none;
   }
   @media (max-width: $tablet) {
      flex-direction: column;
      gap: 20px;
      align-items: unset;
      & > ul {
         display: flex;
         flex-direction: column;
         gap: 16px;
         li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 5px;
            border-bottom: 1px solid var(--black-15, rgba(24, 24, 24, 0.15));
            span:nth-child(1) {
               color: var(--black-50, rgba(24, 24, 24, 0.5));
               font-family: $fontArial;
               font-size: 13px;
               font-style: normal;
               font-weight: 400;
               line-height: 140%; /* 18.2px */
            }
            span:nth-child(2) {
               color: var(--black-100, #181818);
               font-family: $fontMontreal;
               font-size: 16px;
               font-style: normal;
               font-weight: 500;
               line-height: normal;
            }
         }
      }
      & > .ipoteka-card__item {
         display: none;
      }
      &__main {
         flex: unset;
      }
      &__item {
         font-size: 16px;
      }
      .btn {
         height: 37px;
         flex: 0 0 37px;
      }
   }
}
.ipoteka-banner {
   border-radius: 8px;
   background: var(--black-100, #181818);
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 24px;
   padding: 30px 20px;
   // .ipoteka-banner__image

   &__image {
      max-width: 270px;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .ipoteka-banner__main

   &__main {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      align-items: center;
      .btn {
         width: fit-content;
      }
   }

   // .ipoteka-banner__text

   &__text {
      max-width: 340px;
      color: white;
   }
   @media (max-width: $tablet) {
      gap: 30px;
      flex-direction: column;
      padding: 30px 12px;
      &__main {
         gap: 20px;
         flex-direction: column;
         text-align: center;
      }
   }
   @media (max-width: $mobile) {
      &__main {
         gap: 30px;
      }
   }
}
.project-dark {
   background-color: $black;
}
.project-filters_commerce {
   .catalog-filter {
      width: 319px;
      .catalog-range__output {
         width: 100%;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         span {
            width: 100%;
         }
      }
      @media (max-width: $tablet) {
         width: 100%;
      }
   }
   .v-select__wrapper {
      width: 100%;
   }
}
.project-position {
   &.commerce-position {
      padding-bottom: 80px;
      @media (max-width: $mobile) {
         padding-bottom: 60px;
      }
   }
   padding-top: 80px;
   background-color: $black;
   @media (max-width: $mobile) {
      padding-top: 60px;
   }
   // .project-position__wrapper

   &__wrapper {
      & > .btn {
         display: none;
         @media (max-width: $mobile) {
            display: flex;
            width: fit-content;
         }
      }
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 50px;
      @media (max-width: $tablet) {
         gap: 40px;
      }
      @media (max-width: $mobile) {
         gap: 35px;
      }
   }

   // .project-position__header

   &__header {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
   }

   // .project-position__title

   &__title {
   }

   // .project-position__main

   &__main {
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      display: flex;
   }

   // .project-position__categories

   &__categories {
      flex: 0 0 373px;
      padding: 40px;
      background: rgba(255, 255, 255, 0.05);
      display: flex;
      flex-direction: column;
      gap: 15px;
      input {
         display: none;
      }
      label {
         cursor: pointer;
         display: flex;
         align-items: center;
         gap: 16px;

         color: $white-50;
         font-family: "PP Neue Montreal";
         font-size: 16px;
         font-style: normal;
         font-weight: 500;
         line-height: 125%; /* 20px */
         transition: $transition;
         .circle {
            transition: $transition;
            background-color: $white-15;
            --size: 40px;
            svg path {
               fill: white;
            }
         }
      }
      input:checked + label {
         color: $white;
         .circle {
            background-color: $white;
            svg path {
               fill: $black;
            }
         }
      }
   }

   // .project-position__map

   &__map {
      height: 670px;
      flex: 1;
      .v-select {
         display: none;
      }
   }
   @media (max-width: $tablet) {
      &__categories {
         display: none;
      }
      &__map {
         position: relative;
         height: 680px;
         width: 100%;
         .v-select {
            top: 12px;
            left: 12px;
            min-width: 289px;
            position: absolute;
            display: flex;
            color: $white;
            font-family: $fontMontreal;
            font-size: 16px;
            font-weight: 500;
            line-height: 125%; /* 20px */
            .circle {
               --size: 40px;
               background-color: $white;
               svg path {
                  fill: $black;
               }
            }
            &__icon {
               svg path {
                  stroke: $white;
               }
            }
            &__wrapper {
               height: 64px;
               background: #242424;
            }
            &__list {
               background: #242424;
               border-radius: 6px;
               overflow: hidden;
            }
            &__input {
               font-family: $fontMontreal;
               font-size: 16px;
               display: flex;
               align-items: center;
               gap: 16px;
            }
            &__item {
               display: flex;
               align-items: center;
               gap: 16px;
               color: $white-50;
               .circle {
                  background-color: $white-15;
                  svg path {
                     fill: $white;
                  }
               }
            }
         }
      }
   }
   @media (max-width: $mobile) {
      &__header {
         justify-content: center;
         .btn {
            display: none;
         }
      }
      &__map {
         .v-select {
            top: 5px;
            left: 5px;
            right: 5px;
            max-width: unset;
         }
      }
   }
}
