.about-mission {
   // .about-mission__wrapper
   background: var(--black-100, #181818);

   &__wrapper {
      padding-top: 180px;
      padding-bottom: 24px;
      display: flex;
      flex-direction: column;
      gap: 160px;
      // border-radius: 8px 8px 0px 0px;
      @media (max-width: $tablet) {
         gap: 135px;
         padding-top: 70px;
      }
      @media (max-width: $mobile) {
         gap: 60px;
         padding-top: 60px;
      }
   }

   // .about-mission__header

   &__header {
      display: flex;
      gap: 120px;
      .rewards-section__subtitle {
         white-space: nowrap;
         @media (max-width: $mobile) {
            font-size: 12px;
         }
      }
      @media (max-width: $tablet) {
         flex-direction: column;
         gap: 30px;
      }
   }

   // .about-mission__title

   &__title {
   }

   // .about-mission__main

   &__main {
      .home-features {
         // .home-features__item

         &__item {
            background-color: transparent;
            border: 1px solid var(--white-15, rgba(255, 255, 255, 0.15));
            .h1 {
               color: $white;
            }
         }
      }
      .home-features__list {
         @media (max-width: $tablet) {
            grid-template-columns: 1fr;
         }
      }
   }
}
.about-video {
   max-height: calc(100dvh - var(--headerHeight));
   position: relative;
   overflow: hidden;
   @media (max-width: $tablet) {
      height: 434px;
   }
   @media (max-width: $mobile) {
      height: 310px;
   }
   &::before,
   &::after {
      content: "";
      display: block;
      width: 100%;
      height: 8px;
      left: 0;
      z-index: 2;
      position: absolute;
   }
   &::before {
      background-color: $white;
      top: -2px;
      border-radius: 0 0 8px 8px;
   }
   &::after {
      background-color: $black;
      border-radius: 8px 8px 0 0;
      bottom: -2px;
   }
   &:hover {
      cursor: none !important;
   }
   img,
   video {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   // .about-video__btn

   &__btn {
      @media (max-width: $tablet) {
         display: none;
      }
      position: absolute;
      background-color: $black;
      top: 0;
      left: 0;
      translate: -50% -50%;
      --size: 0px;
      transition: width 0.3s, height 0.3s;
      transform-origin: center;
      &:hover {
         cursor: none !important;
      }
      svg {
         width: 0;
         height: 0;
         transition: width 0.3s, height 0.3s;
      }
      &.active {
         --size: 130px;
         svg {
            width: 32px;
            height: 32px;
         }
      }
   }
}

.about-value {
   margin-bottom: 16px;
   @media (max-width: $tablet) {
      margin-bottom: 0;
   }
   padding-top: 80px;
   // .about-value__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 65px;
      @media (max-width: $tablet) {
         flex-direction: row;
         gap: 10px;
         overflow-x: auto;
         width: 100vw;
         margin-left: calc(-1 * var(--containerPadding));
         margin-right: calc(-1 * var(--containerPadding));
         padding-left: calc(1 * var(--containerPadding));
         padding-right: calc(1 * var(--containerPadding));
      }
   }

   // .about-value__row

   &__row {
      // overflow: hidden;
      display: flex;
      gap: 124px;
      &.active {
         .h1 {
            opacity: 1;
            p {
               translate: 0;
            }
         }
      }
      &.hidden-up {
         .about-value {
            &__title {
               p {
                  translate: 0 -100%;
               }
            }
         }
      }
      &.hidden-down {
         .about-value {
            &__title {
               p {
                  translate: 0 100%;
               }
            }
         }
      }
      @media (max-width: $tablet) {
         padding: 20px;
         padding-top: 160px;
         border-radius: 8px;
         border: 1px solid rgba(24, 24, 24, 0.15);
         flex: 0 0 333px;
         flex-direction: column;
         position: relative;
         gap: 30px;
      }
      @media (max-width: $mobile) {
         flex: 0 0 300px;
         padding-top: 135px;
         gap: 25px;
      }
   }
   &__bg {
      display: block;
      flex: 0 0 561px;
      position: sticky;
      top: calc(var(--headerHeight) + 250px);
      height: fit-content;
      @media (max-width: $tablet) {
         position: relative;
         top: unset;
         flex: unset;
      }
   }
   // .about-value__title

   &__title {
      opacity: 0;
      transition: $transition;
      overflow: hidden;
      p {
         // translate: 0 -165px;
         transition: 0.6s;
      }
      @media (max-width: $tablet) {
         translate: 0 !important;
         opacity: 1 !important;
         overflow: unset !important;
         font-size: 23px;
         line-height: 115%;
         p {
            translate: 0 !important;
         }
      }
      @media (max-width: $mobile) {
         font-size: 18px;
      }
   }

   // .about-value__item

   &__item {
      padding-left: 25px;
      border-left: 1px solid #181818;
      h4 {
         margin-top: 50px;
      }
      .btn {
         margin-top: 30px;
         width: fit-content;
      }
      svg,
      img {
         width: 220px;
         height: 170px;
      }
      @media (max-width: $tablet) {
         padding-left: 0;
         border: 0;
         svg,
         img {
            position: absolute;
            top: 20px;
            width: 140px;
            height: 110px;
            left: 20px;
         }
         h4 {
            margin-top: 0;
         }
      }
      @media (max-width: $mobile) {
         svg,
         img {
            width: 116px;
            height: 90px;
         }
      }
   }
}
.about-events {
   max-height: calc(100dvh - var(--headerHeight));
   overflow: hidden;
   position: relative;
   .swiper {
      width: 100vw;
      .swiper-slide {
         height: auto;
         opacity: 0 !important;
         &-active {
            opacity: 1 !important;
         }
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   // .about-events__pagination

   &__pagination {
      color: $white;
      display: flex;
      align-items: flex-end;
      gap: 7px;
      position: absolute;
      z-index: 2;
      bottom: 30px;
      left: calc((100vw - 1360px) / 2);
      @media (max-width: 1400px) {
         left: var(--containerPadding);
         right: var(--containerPadding);
      }
      li {
         display: flex;
         flex-direction: column;
         gap: 12px;
         @media (max-width: $mobile) {
            display: none;
         }
      }
      span {
         opacity: 0;
         font-size: 0;
         transition: $transition;
      }
      div {
         position: relative;
         width: 40px;
         height: 2px;
         border-radius: 7px;
         background: rgba(217, 217, 217, 0.6);
         transition: $transition;
         &::after {
            content: "";
            display: block;
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: $white;
            z-index: 2;
         }
      }
      .active {
         span {
            opacity: 1;
            @include h4;
         }
         div {
            width: 280px;
            &::after {
               width: 100%;
               transition: 3s;
            }
         }
         @media (max-width: $mobile) {
            display: flex;
            width: 100%;
            div {
               width: 100%;
               &::after {
                  animation: full-width-anim;
                  animation-duration: 3s;
               }
            }
         }
      }
   }
   @media (max-width: $tablet) {
      height: 456px;
      .swiper {
         height: 100%;
      }
   }
   @media (max-width: $mobile) {
      height: 580px;
   }
}
.about-rewards {
   .rewards-section {
      &__right {
         flex: 0 0 869px;
         display: flex;
         flex-direction: column;
         gap: 80px;
         @media (max-width: $tablet) {
            flex: unset;
            gap: 70px;
         }
         @media (max-width: $mobile) {
            gap: 100px;
         }
      }

      &__list {
         grid-template-columns: repeat(5, 1fr);
         gap: 100px;
         @media (max-width: $tablet) {
            gap: 75px;
         }
         @media (max-width: 767px) {
            pointer-events: none;
            gap: 70px;
            display: flex;
            width: 100vw;
            margin-left: calc(-1 * var(--containerPadding));
            margin-right: calc(-1 * var(--containerPadding));
            padding-left: calc(1 * var(--containerPadding));
            padding-right: calc(1 * var(--containerPadding));
            overflow-x: auto;
         }
         li {
            a {
               height: 32px;
               width: 78px;
               border: none;

               img {
                  width: 100%;
                  height: 100%;
                  transition: 0.4s;
                  max-width: unset;
               }

               position: relative;

               .hidden {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  translate: -50% -50%;
                  opacity: 0;
               }
               @media (max-width: $tablet) {
                  width: 88px;
               }
               @media (max-width: 767px) {
                  width: 78px;
                  flex: 0 0 78px;
               }
            }
         }
      }
   }
}

@keyframes full-width-anim {
   0% {
      width: 0;
   }
   100% {
      width: 100%;
   }
}
.about-partners {
   background-color: $black;
   padding-top: var(--margin);
   padding-bottom: 80px;
   @media (max-width: $tablet) {
      padding-bottom: 70px;
   }
   @media (max-width: $mobile) {
      padding-bottom: 60px;
   }
   // .about-partners__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;
      @media (max-width: $tablet) {
         gap: 40px;
      }
      @media (max-width: $mobile) {
         gap: 30px;
      }
   }

   // .about-partners__title

   &__title {
   }

   // .about-partners__list

   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $mobile) {
         grid-template-columns: 1fr;
      }
   }

   // .about-partners__item

   &__item {
      padding: 30px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.05);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @media (max-width: $mobile) {
         padding: 20px;
      }
   }

   // .about-partners__icon

   &__icon {
      width: 180px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      img,
      svg {
         max-width: 100%;
         max-height: 100%;
      }
      @media (max-width: $mobile) {
         width: 116px;
         height: 50px;
      }
   }

   // .about-partners__text

   &__text {
      margin-top: 15px;
      margin-bottom: 50px;
      color: rgba(255, 255, 255, 0.5);
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @media (max-width: $mobile) {
         margin-top: 12px;
         margin-bottom: 33px;
      }
   }

   // .about-partners__btn

   &__btn {
      @include button-name;
      color: white;
      padding: 3px;
      border-bottom: 1px solid white;
   }
}
.partner-info {
   // .partner-info__content
   &.open {
      .partner-info__content {
         transform: scale(1) !important;
      }
   }
   &__content {
      background-color: $black !important;
      padding: 0 !important;
      top: 0 !important;
      left: unset !important;
      right: 0 !important;
      height: 100vh !important;
      width: 520px !important;
      overflow: auto;
      .modal__close {
         border-radius: 51px;
         background: rgba(255, 255, 255, 0.05);
         backdrop-filter: blur(10px);
         svg path {
            fill: white;
         }
      }
      @media (max-width: $tablet) {
         width: 100vw !important;
      }
   }

   // .partner-info__image

   &__image {
      height: 200px;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .partner-info__main

   &__main {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 40px;
      .btn {
         width: fit-content;
         padding: 0 22px;
      }
      @media (max-width: $tablet) {
         padding: 32px 12px;
      }
   }

   // .partner-info__title

   &__title {
      color: white;
   }

   // .partner-info__desc

   &__desc {
      color: rgba(255, 255, 255, 0.5);
   }
}
